.btn-primary{
    display: inline;
    padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      background-color: #3498db;
      color: #ffffff;
      border: 0;
      border-radius: 30px;
}

.btn-primary:hover{
    display: inline;
    padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      background-color: #26485e;
      color: #3498db;
      border: 0;
      border-radius: 30px;
}

.btn-primary:active{
    display: inline;
    padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      background-color: rgb(4, 95, 155);
      color: #80c2ed;
      border: 0;
      border-radius: 30px;
}

.btn-primary:focus{
    display: inline;
    padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      background-color: rgb(155, 22, 4);
      color: #f4fbff;
      border: 0;
      border-radius: 30px;
}

.form-control{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: lightblue;
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid palevioletred;
}

.form-control:hover{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: rgb(81, 149, 251);
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid palevioletred;
}

.form-control:active{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: rgb(7, 44, 101);
    color: #000000;
    border: 0;
    border-radius: 0;
    
}

.form-control:focus{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: rgb(164, 195, 243);
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-color: yellow;
    box-shadow:0 0 0 0.2rem  #26485e;
}

.form-select{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: lightblue;
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid palevioletred;
}

.form-select:hover{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color:rgb(81, 149, 251);
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid palevioletred;
}

.form-select:active{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: rgb(7, 44, 101);
    color: #000000;
    border: 0;
    border-radius: 0;
    
}

.form-select:focus{
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: rgb(164, 195, 243);
    color: #000000;
    border: 0;
    border-radius: 15px 15px 0px 0px;
    border-color: yellow;
    box-shadow:0 0 0 0.2rem  #26485e;
}

